@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-black transition-colors duration-300 dark:bg-slate-900 dark:text-slate-100;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
}
