@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí luego podrás poner tus estilos globales adicionales */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
