@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-slate dark:bg-slate-900 text-black dark:text-slate-100 transition-colors duration-300;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
